<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PeachBinaryPath" value="D:\peach-3.1.54\Peach.exe" />
    <add key="PeachCmdLineArgs" value="--seed=0 --definedvalues=rtsp.conf.xml rtsp.xml Vlc"/>
    <add key="PeachWorkingDirectory" value="D:\RtspFuzzer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>